/* #one{
    background-color: aquamarine;
    border: 2px solid;
    height: 200px;
    width: 200px;
}
.two{
    background-color: rgb(10, 152, 246);
    border: 2px solid;
    height: 200px;
    width: 200px;
}
#thr{
    background-color: rgb(241, 21, 216);
    border: 2px solid;
    height: 200px;
    width: 200px;
}
#image{
    background-color: rgb(241, 21, 216);
    border: 2px solid;
    height: 400px;
    width: 600px;   
}
.img{
    margin-top: 45px;
    margin-left: 40px;
}

.one{
    height: 100px;
    width: 200px;
    background-color: red;
}
#three{
    height: 150px;
    width: 150px;
    background-color: green;
}
.two{
    height: 200px;
    width: 200px;
    background-color: orange;
    border-radius: 50%;
}
#fif{
    height: 250px;
} */